<h1>Welcome</h1>

<% if logged_in? %>
  <h1>you are logged in, <%= current_user.username %></h1>
  <%= button_to "Logout", "/logout" %>
<%end%>

<% if !logged_in? %>
  <%= button_to "Login", '/login', method: :get%>
<%end%>  
<%= button_to "Sign Up", '/users/new', method: :get%>
<%= button_to "contue to home", "/home", method: :get %>
